/*navbar*/



/*Hero*/

.navbar {
  height: 50px;
  width: 100%;
}

.nuetron {
 background-image: url(./design-assets/hero.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px;
 display: flex;
 align-items: flex-end;

}

.hero-cell {
  opacity: 0.95;


}

/*Book Now*/

.my-flex {
  margin: : 8rem;
}

/* Request a Quote*/

/*Vet Owned*/

.vet-owned {
background-color: lightgray;
height: 400px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

/*Instagram*/

.ig-position {
  position: absolute;
  top: 85%;
  left: 10%;
}

/*footer*/

.phone {
  color: #ffffff;
  padding: 20px
}

.nav-footer-span{
  font-size: 24px;
  font-weight: 200;
}

.fluid-footer {
  background-color: #231F20;
  padding-top: 50px;

}

.my-footer-headline {
  color: #FFFFFF;
  font-size: 60px;

}

.my-footer-position-1 {
  position: absolute;
  right: 50px;
}

.my-footer-position-2 {
  position: absolute;
  top: 30px;
  right: 62px;
}

.my-footer-nav {
  list-style-type: none;
}
