/*body*/


:root {
  --color: darkslateblue;
}

H1 {
  color: var(--color);
}

.big-btn {
  background: dkred;
}



/*Hero*/

.tampa {
  height: 50px;
  width: 100%;
}


.nuetron {
 background-image: url(./design-assets/hero.png);
 background-size: cover;
 background-repeat: no-repeat;
 height: 300px;
 display: flex;
 align-items: flex-end;

}

.hero-cell {
  opacity: 0.95;


}

/*Book Now*/

.my-flex {
  margin: : 8rem;
}

/* Request a Quote*/

/*Vet Owned*/

/* .vet-owned {
margin-bottom: 10px;
background-color: lightgray;
height: 450px;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
} */

.top-rated {
  margin-bottom: 10px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

  .top-rated-logos {
    display: flex;
    justify-content: space-around;
  }

  .junk-remove-1 {
    padding: 40px;
    background-color: lightgray;
    margin-bottom: 5px;
  }

  .junk-remove-2 {
    padding: 50px;
    background-color: lightgray;
    /* height: 1000px; */
    font-size: 24px;
    line-height: 40px;

  }

  .request {
    display: flex;
    justify-content: center;
  }

/*Instagram*/

.ig-position {
  position: absolute;
  top: 85%;
  left: 10%;
}

/*footer*/

.phone {
  color: #ffffff;
  padding: 20px
}

.nav-footer-span{
  font-size: 24px;
  font-weight: 200;
}

.fluid-footer {
  background-color: #231F20;
  padding-top: 50px;

}

.my-footer-headline {
  color: #FFFFFF;
  font-size: 60px;

}

.my-footer-position-1 {
  position: absolute;
  right: 50px;
}

.my-footer-position-2 {
  position: absolute;
  top: 30px;
  right: 62px;
}

.my-footer-nav {
  list-style-type: none;
}

.invert {
  filter: invert(100%); 
  
}

/*gallery*/

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }
